@import 'setup';

// HEADER
header{
	height: 100vh;
	position: relative;
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
	background-image: url(./sass/assets/lake.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	overflow: hidden;
	
	.leftMountain{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 40%;
		filter: brightness(60%);
		}

	.leftMountainHide{
		position: absolute;
		left: -700px;
		bottom: 0;
		overflow: hidden;
	}

		
	.rightMountain{
		position: absolute;
		right: 0;
		bottom: 0;
		filter: brightness(60%);
		width: 40%;
		}

	.rightMountainHide{
		position: absolute;
		right: -500px;
		bottom: 0;
		}

	img{
		width: 100%;
		height: 80vh;
		display: block;
	}
}

// TITLE CONTAINER in HEADER
.title{
	position: absolute;
	top: 30vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

// Main title, Hike Finder
h1{
	font-family: 'Righteous', cursive;
	font-size: 6rem;
	color: rgb(14, 16, 41);
	text-transform: lowercase;

	&:after{
		content: ".";
	}
}

// Enter Postal Code Input and Submit
.postal-code{
	position: relative;
	align-self: center;
	display: flex;
	font-size: 2rem;
	padding: 30px 0;

	input[type=text]{
		border-radius:35px;
		padding:10px 20px;
		// text-shadow: 5px 2px silver;
		// border: 1px solid silver;
		// box-shadow:  2px 3px 0px -2px #ccc;
	}

	button{
		position: absolute;
		align-self: center;
		border: none;
		background: transparent;
		padding: 10px 15px;
		right: 5px;
		color: rgb(14, 16, 41);

		&:hover,
		&:focus{
			color: rgb(37, 46, 116);
		}
	}
}

// Accessibility label for input to enter postal code
.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

h3{
	font-size: 2rem;
	padding: 15px 0 0 5px;
	margin-left: 25px;
}

// NEW POSTAL CODE BUTTON
.go-home{
	opacity: 0;
	position: fixed;
	top: 0;
	z-index: 10;
	display:block;
	margin: 8px;
	font-size: 2rem;

	button{
		padding: 5px;
		background: rgb(255, 223, 95);
		color: black;
		font-family: 'Patua One', cursive; 
		border-radius: 20px;
		border: 2px solid rgb(248, 205, 31);
	}	
}

// RESULTS SECTION
.results {
	display: flex;
	flex-wrap: wrap;

	&>div{
		align-self: flex-start;
		width: 40%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		margin: 5%;
		font-size: 2rem;
		transition: 0.5s;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		&:hover,
		&:focus{
			transform: scale(1.05);
		}

		a{
			text-decoration: none;
			color: black;
		}
		
		h2{
			font-family: 'Patua One', cursive;
			padding: 0 20px;

			&:hover,
			&:focus{
				text-decoration: underline lightblue;
			}
		}

		i{
			padding-right: 5px;
		}

		.location{
			font-style: italic;
		}

		img{
			height: 40vh;
			padding-top: 20px;
		}

		blockquote{
			background: lightblue;
			font-style: italic;

			&::before{
				content:"“";
			}
			
			&::after{
			content: "”";
			}
		}

		.container{
			display: flex;
			justify-content: space-between;
			width: 70%;

			&>div{
				text-align: left;
			}
		}
	}
}

.info{
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}

.results .fa-star{
	padding-right: 12px;
}

.results .fa-map-pin{
	padding-right: 5px;
	padding-left: 8px;
}

footer{
	background: rgb(37, 46, 116);
	color: white;
	padding: 1% 0;
	display: none;
}

// RESPONSIVE
@media (max-width: 1210px){

	.info p:first-of-type{
		background: rgb(255, 223, 95);
		position: absolute;
		padding: 5px;
		top: 10px;
		right: 0;
	}
	h2{
		font-size: 2.5rem;
	}
	.container{
		flex-direction: column;
	}

	.results>div{
		position: relative;
		margin: 2%;
		width: 46%;
	}

	.results div i.fa-car-side{
		padding-right: 0;
	}
}
@media (max-width: 765px){
	.results>div{
		width: 95%;
	}
}

@media (max-width: 500px){
	header .title{
		top: 10vh;
		z-index: 10;

		h1{
			font-size: 5.25rem;
		}
	}

}
