@import 'setup';

header{
	height: 100vh;
	position: relative;
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
	background-image: url(./sass/assets/lake.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	overflow: hidden;

	.title{
		position: absolute;
		top: 30vh;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
	}

	h1{
		font-family: 'Righteous', cursive;
		font-size: 6rem;
		color: rgb(14, 16, 41);
		text-transform: lowercase;

		&:after{
			content: ".";
		}
	}

	
	.leftMountain{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 40%;
		filter: brightness(60%);
		}

	.leftMountainHide{
		position: absolute;
		left: -700px;
		bottom: 0;
		overflow: hidden;
	}

		
	.rightMountain{
		position: absolute;
		right: 0;
		bottom: 0;
		filter: brightness(60%);
		width: 40%;
		}

	.rightMountainHide{
		position: absolute;
		right: -500px;
		bottom: 0;
		}

	img{
		width: 100%;
		height: 80vh;
		display: block;
	}

	.postal-code{
		position: relative;
		align-self: center;
		display: flex;
		font-size: 2rem;
		padding: 30px 0;

		input[type=text]{
			border-radius:35px;
			padding:10px 20px;
			// text-shadow: 5px 2px silver;
			// border: 1px solid silver;
			// box-shadow:  2px 3px 0px -2px #ccc;
		}

		button{
			position: absolute;
			align-self: center;
			border: none;
			background: transparent;
			padding: 10px 15px;
			right: 5px;

			&:hover,
			&:focus{
				color: rgb(37, 46, 116);
			}
		}
	}
}

// header button i{
// 	color: rgb(14, 16, 41);
// }

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

// .go-home{
// 	position: absolute;
// 	position: fixed;
// 	right:0;
// }

.results {
	display: flex;
	flex-wrap: wrap;

	&>div{
		align-self: flex-start;
		width: 40%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		margin: 5%;
		font-size: 2rem;
		transition: 0.5s;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		&:hover,
		&:focus{
			transform: scale(1.05);
		}

		a{
			text-decoration: none;
			color: black;
		}
		
		h2{
			font-family: 'Patua One', cursive;
			padding: 0 20px;

			&:hover,
			&:focus{
				text-decoration: underline lightblue;
			}
		}

		i{
			padding-right: 5px;
		}

		.location{
			font-style: italic;
		}

		img{
			height: 40vh;
			padding-top: 20px;
		}

		blockquote{
			background: lightblue;
			font-style: italic;

			&::before{
				content:"“";
			}
			
			&::after{
			content: "”";
			}
		}

		.container{
			display: flex;
			justify-content: space-between;
			width: 70%;

			&>div{
				text-align: left;
			}
		}
	}
}

.results .fa-star{
	padding-right: 12px;
}

.results .fa-map-pin{
	padding-right: 5px;
	padding-left: 8px;
}

.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

footer{
	background: rgb(37, 46, 116);
	color: white;
	padding: 1% 0;
	display: none;
}

@media (max-width: 765px){
	.results>div{
		width: 95%;
	}
}